@import "_LoadingSpinner";
@import "_LoginForm";
@import "_Navbar";

/* Import Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*Earthy Color Pallette: 

Warm Terracotta: #E07A5F 
Sage Green: #9ABF9D 
Sky Blue: #B9D8F3
Butter Yellow: #F7E3B2
Copper Brown: #8B5E3C 
Off-White: #F4F4F4  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

#App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  background-color: #9abf9d;
}

#container {
  margin-top: 10%;
}

h1,
h2 {
  margin: 30px;
}

.links {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}
